*{
    padding: 0px;
    margin: 0px;

}

@font-face {
    font-family: 'Inter';
    src: url('/resources/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Romanesco';
    src: url('/resources/fonts/Romanesco/Romanesco-Regular.ttf') format('truetype');
  }
  

/*Header secction*/
header{
    height: 70px;
    background-color: #A3A656;
}

.main_menu{
    margin-left: 70px;
    margin-top: auto;
    height: 70px;
    float: left;
}
.main_menu ul{
    list-style-type: none; text-align: center;
    font-family: 'Inter';font-size: 16px;
    text-transform: uppercase;
}
.main_menu ul li{
    display: inline-block;
    border: 0px;
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;

}
.main_menu ul li:hover{
    color: #FFFF00;
}
.user_settings{
    height: 70px;
    float: right;
    font-family: 'Inter'; font-weight: 400;font-size: 14px;
}
.user_settings p{

    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}
.user_settings :hover{
    color: #FFFF00;
}
.user_settings img{
    margin: 10px;
}
.user_settings :nth-child(4){
    position: relative;
    top: -4px;

}
.user_settings :nth-child(5){
    position: relative;
    top: -15px;
    left: -8px;
}


/*principal image*/
.section_presentation{
    height: auto;
    width: auto;
    background-image: url("/resources/images/main.png");
    background-size: cover;
    background-position: center;
    height: 900px;

}
.section_presentation p{
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    top: 200px;
    left: 200px;
}
.section_presentation :nth-child(1){
    font-family: 'Romanesco'; font-weight: 400;font-size: 96px;
}
.section_presentation :nth-child(2){
    font-family: 'Inter'; font-weight: 600;font-size: 32px;
}
/*service section*/

.section_price{
    display: inline-block;
}
.services:nth-child(1){
 padding-left: 5%;
}
.services{
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 134px;
    padding: 0%;
    display: inline-block;
    max-width: 100%;
    height: 100%;
}
    /*service Boxes config*/
.services p{
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    font-family: 'Inter'; font-weight: 600;font-size: 32px;
    background: #A3A656;
    color: #fff;
    padding: 5%;
}
.services span{
    display: block;
    font-family: 'Inter'; font-weight: 400;font-size: 16px;
}
.services div{
    display: inline-block;
    margin-top: 10px;
    font-family: 'Inter'; font-weight: 600;font-size: 32px;
}

.services nav{
    padding: 20px;
    float: right;
    display: inline-block;
    background: #A3A656;
    color: #fff;
    border-radius: 35px;
    width: 130px;
    text-align: center;
}
.services nav:hover{
    background: #384001;
}

/*Input section*/
.section_input{
     background: #F2F6F6;
     height: 110px;
     text-align: center;

}
.section_input span{
    font-family: 'Inter'; font-weight: 400;font-size: 16px;
    position: relative;
    top: 30px;
    margin: 20px;
}
.section_input input{
    position: relative;
    top: 30px;
    height: 50px;
    width: 250px;
    border-radius: 15px;
    border: none;
}
.section_input :nth-child(4){
    padding-left: 20px;
    width: 170px;
    padding-right: 0%;
    font-family: 'Inter'; font-weight: 400;font-size: 16px;
    color: #9E9A9A;
}

/*Vip secction*/
.section_vip{
    height: 770px;
    background: #F2F6F6;

}
#headerVip{
    padding-top: 3%;
    padding-bottom: 4%;
}
.card_boxes{ display: inline-block;margin-left: 12%;vertical-align: top;}

        /*Text benefit section*/
.section_vip p{
 text-align: center;
 font-family: 'Inter'; font-weight: 600;font-size: 32px;
}
        /*suscription Section, symbols*/
.simbol_vip{
    width: 255px;
    height: 255px;
    border: #384001 15px solid;
    background-color: #fff;
    border-radius: 200px;
}

.simbol_vip img{
    padding: 0px;
    margin: 24%;
}
        /*Button section*/
.card_boxes p{
    margin-top: 10px;
    font-family: 'Inter'; font-weight: 600;font-size: 32px;
}
.card_boxes nav{
    margin-top: 20%;
    margin-bottom: 10%;
    border-radius: 35px;
    margin-left: 15px;
    width: 300px;
    height: 60px;
    background-color: #A3A656;
    color: #fff;
    font-family: 'Inter';font-size: 16px;

}

.button div{
    text-align: center;
    padding: 7%;
}
.button:hover{
    background: #384001;
}

.card_boxes ul li{
    margin-left: 75px;
    font-family: 'Inter'; font-weight: 400;font-size: 16px;
}

/*FOOTER secction*/
footer{
    background: #384001;

    list-style-type: none; text-align: center;
    font-family: 'Inter'; font-size: 16px;
    color: #A3A656;
    text-transform: uppercase;

    height: 97px;
}
.footer_links{
    border: 0px;
    padding: 0px;
    float: left;
    margin-left: 70px;


}
.footer_links ul{

    height: 97px;
}
.footer_links ul li{
    display: inline-block;
    border: 0px;
    padding: 0px;
    margin-top: 38px;
    margin-bottom: 38px;
    margin-right: 38px;
}
.social_network{
    height: 97px;
    float: right;

 }
.social_network p{
    border: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
 }
 .social_network img{
    display: inline-block;
    margin-top: 25px;
    margin-right: 25px;
}
.social_network :nth-child(n){
    margin-right: 40px;
}
.social_network :nth-child(3){
    position: relative;
    top: -5px;
}
.social_network :nth-child(4){
    position: relative;
    top: -5px;
}
.footer_links ul li:hover{
    color: #FFFF00;
}
.social_network p:hover{
    color: #FFFF00;
}